@import url(https://fonts.googleapis.com/css?family=Sigmar+One);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  background: linear-gradient(225deg, #0d6395 1%, #060ab2 76%);
  background-attachment: fixed;
}

.information-tab {
  position: relative;
  width: 100%;
  background: #f5b3625e;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  font: 20px sans-serif;
  color: #FFFFFF;
}

.information-tab__reset-button {
  background: #bd7200;
  border: none;
  padding: 5px;
  font: inherit;
  color: white;
  text-align: right;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.no-clicks {
  pointer-events: none;
}

.memory-game-table {
  width: 640px;
  height: 640px;
  margin: 5vh auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  position: relative;
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.face-up,
.face-down {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #af660b;
  backface-visibility: hidden;
}

.face-up {
  transform: rotateY(180deg);
}

.information-tab__found {
  text-align: center;
}

.information-tab__wins,
.information-tab__attempts,
.information-tab__steps,
.information-tab__found,
.information-tab__found__tokens {
  margin-top: 5px;
}

.found-card-token {
  width: 40px;
  height: 40px;
  opacity: .3;
  filter: grayscale(100%);
}

.found-card-token--vissible {
  opacity: 1;
  filter: grayscale(0%);
  transition: .5s;
}

@media screen and (max-width: 1023px) {
  .memory-game-table {
    margin: 0 auto;
  }
}
